
S = 40px

.sokoban
  position fixed
  top 96px
  left 0
  right 0
  bottom 0
  overflow scroll
  overflow-scrolling touch
  margin 0 auto
  box-shadow inset 0 0 20px black
  background-image url(/background.jpg)
  background-position center center
  .board
    position absolute
    top 50%
    left 50%
  .block, .touch
    position absolute
    top 0
    left 0
    width S
    height S
  .block
    z-index 400
    background-image url(/sprites.svg)
    background-repeat no-repeat
    background-position 0 40px
    &.block-wall
      z-index 800
      background black
      box-shadow 0 0 6px rgba(0,0,0, 0.6)
    &.block-box
      background-color #6A0
      &.in-goal
        background-position -40px 0
    &.block-goal
      z-index 200
      background-position 0 0
    &.block-floor
      z-index 100
      background #EEE
    &.block-player
      background blue
  .touch
    z-index 600
    &:before
      content ''
      position absolute
      top S*0.5+-4
      left S*0.5+-4
      width 8px
      height 8px
      border-radius 4px
      background black
      opacity 0.6
